* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    background-color: aliceblue;
}

h2, h3, p, ul, li {
    padding-top: 10px;
}
div.perfil img
{
    border-radius: 70px;
}
div.perfil {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,100,121,1) 54%, rgba(0,212,255,1) 100%);
    text-align: center;
    
}

div.resumo {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,11,73,1) 54%, rgba(134,48,232,1) 100%);
    text-align: center;
}

a.button {
    color: white;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

h2 {
    color: rgb(59, 59, 184);
}

hr {
    background-color: rgb(187, 187, 233);
    height: 3px;
}

h3 {
    color:rgb(187, 187, 233);
}

#github {
    background-color: rgb(85, 81, 81);
}

#instagram {
    background-color: rgb(182, 70, 139);
}

#youtube {
    background-color: #FF0000;
}